/* Colors from Swim theme: https://color.adobe.com/es/Swim-color-theme-506584 
* dark-blue: #0388A6
* light-blue: #04C4D9
* light-turquoise: #04D9D9
* dark-turquoise: #03A696
* lighter-turquoise: #BBF2F2
*/
body {
	font-family: 'Arial';
	font-weight: 100;
	color: #03A696;
}

.clock {
	position: relative;
	width: 360px;
	height: 360px;
	background-color: #BBF2F2;
	border-radius: 50%;
	overflow: auto;
}

.container {
	box-sizing: border-box;
	display: flex;
	display: -webkit-flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	flex-direction: -webkit-column;
	align-items: center;
	align-items: -webkit-center;
	align-content: center;
	align-content: -webkit-center;
	justify-content: center;
	justificy-content: -webkit-center;
}

.btntop {
	box-sizing: border-box;
	text-align: center;
	color: #BBF2F2;
	background: none;
	background-color: #04C4D9;
	text-transform: uppercase;
	border-radius: 50%;
	border: 1px solid #009AED;
	margin: 0;
	outline: 0;
	position: absolute;
	top: 0;
	width: 100%;
	font-size: 18px;
	padding: 20px;
	border-top: 0;
	border-bottom: 1px solid #04D9D9;
}

.btntop:hover {
	background-color: #0388A6;
}

.btnbottom {
	box-sizing: border-box;
	text-align: center;
	color: #BBF2F2;
	background: none;
	background-color: #04C4D9;
	text-transform: uppercase;
	border-radius: 50%;
	border: 1px solid #009AED;
	margin: 0;
	outline: 0;
	position: absolute;
	width: 100%;
	font-size: 18px;
	padding: 20px;
	top: auto;
	bottom: 0;
	border-top: 1px solid #04D9D9;
	border-bottom: 0;
}

.btnbottom:hover {
	background-color: #0388A6;
}

.titletop {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 20px 0px 10px;
	border-radius: 50%;
	border-bottom: 3px solid #04D9D9;
	background-color: #BBF2F2;
}

.txt {
	position: absolute;
	top: 80px;
	width: 100%;
	text-align: center;
}

.txt-msg {
	font-size: 32px;
}

.txt-msg-center {
	position: absolute;
	top: 80px;
	width: 100%;
	text-align: center;
	font-size: 32px;
}

.txt-title {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 200;
	color: #0388A6;
}

.txt-title-previous-training {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 200;
	color: #0388A6;
}

.txt-data {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	color: #0388A6;
	padding: 5px;
}

.selectedTraining {
	padding-bottom: 20px;
}

.sumUpData {
	width: 100%;
	font-size: 22px;
}

.leftCell {
	text-align: right;
	width: 40%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
	padding: 0px 10px 5px 0px;
}

.rightCell {
	text-align: left;
	width: 40%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
	padding: 0px 0px 5px 10px;
}

.previousTrainingData {
	width: 100%;
	font-size: 20px;
	margin-top: 15px;
}

ul {
	width: 100%;
}

ul li {
	font-size: 28px;
	color: #BBF2F2;
	background: none;
	background-color: #03A696;
	padding: 5px 0px 5px 0px;
	border-top: 5px solid #04D9D9;
	border-bottom: 5px solid #04D9D9;
	margin: 5px 0px;
	width: 100%;
}

ul li:hover {
	background-color: #0388A6;
}

.scrollableList {
	overflow-y: scroll;
	width: 100%;
	height: 280px;
}

.trainings {
	padding-bottom: 80px;
}